.home-container {
  width: 100%;
  border: none;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #D3D3D3;
}
.home-navbar {
  flex: 1;
  color: #FFFFFF;
  width: 100%;
  height: auto;
  display: flex;
  max-height: 80px;
  min-height: 75px;
  align-items: center;
  border-color: #D3D3D3;
  border-style: dashed;
  background-color: #004466;
}
.home-container1 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  max-height: auto;
  align-items: center;
  justify-content: center;
}
.home-image {
  width: 100px;
  height: 90px;
  object-fit: cover;
}
.home-container2 {
  flex: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 0;
  justify-content: space-around;
}
.home-container3 {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-right: 0;
  justify-content: flex-start;
}
.home-text {
  padding: 14px 16px;
  font-size: 20px;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.home-text:hover {
  background: #003355;
  border-radius: 15px;
}
.home-text:active {
  background-attachment: #009688;
}
.home-text03 {
  padding: 14px 16px;
  font-size: 20px;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.home-text03:hover {
  background: #003355;
  border-radius: 15px;
}
.home-text03:active {
  background-attachment: #009688;
}
.home-text04 {
  padding: 14px 16px;
  font-size: 20px;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.home-text04:hover {
  background: #003355;
  border-radius: 15px;
}
.home-text04:active {
  background-attachment: #009688;
}
.home-text05 {
  padding: 14px 16px;
  font-size: 20px;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.home-text05:hover {
  background: #003355;
  border-radius: 15px;
}
.home-text05:active {
  background-attachment: #009688;
}
.home-text06 {
  padding: 14px 16px;
  font-size: 20px;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.home-text06:hover {
  background: #003355;
  border-radius: 15px;
}
.home-text06:active {
  background-attachment: #009688;
}
.home-text07 {
  padding: 14px 16px;
  font-size: 20px;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.home-text07:hover {
  background: #003355;
  border-radius: 15px;
}
.home-text07:active {
  background-attachment: #009688;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  justify-items: center;
  justify-content: center;
}
.home-mainleft {
  gap: var(--dl-space-space-threeunits);
  flex: 0.9;
  width: auto;
  height: auto;
  display: flex;
  flex-basis: column;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 200px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-text10 {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
}
.home-estados-del-contrato {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  background: aliceblue;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  padding: var(--dl-space-space-unit) var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.home-contrato-div {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  color: black;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  padding: var(--dl-space-space-unit) 0;
  justify-content: center;
  backface-visibility: 10px;
}
.home-documento-div {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  font-size: 30;
  align-items: flex-start;
}
.home-documento-1 {
  font-size: 30px;
}
.home-contenedor-boton-buscar {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
}
.home-botondocuemento {
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding: var(--dl-space-space-unit);
  background-color: transparent;
}
.home-botondocuemento:hover {
  border: 0 15 20 rgba(0, 0, 0, 0.2);
  transform: translateY(-7px);
  background: #009688;
}
.home-contenedor-boton-buscar1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
}
.home-botonlupa {
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding: var(--dl-space-space-unit);
  background-color: transparent;
}
.home-botonlupa:hover {
  border: 0 15 20 rgba(0, 0, 0, 0.2);
  transform: translateY(-7px);
  background: #009688;
}
.home-container4 {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}
.home-button {
  color: rgb(255, 255, 255);
  border: none;
  transition: 0.3s;
  font-family: "auto", sans-serif;
  border-radius: 5px;
  border-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: var(--dl-space-space-halfunit) var(--dl-space-space-fourunits);
  background-color: #009688;
}
.home-button:hover {
  transform: translateY(-7px);
  background: #E64A19;
  border-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}
.home-text13 {
  font-family: "Inter", sans-serif;
}
.home-text14:hover {
  transform: translateY(-7px);
  background: #E64A19;
  border-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}
.home-button1 {
  color: rgb(255, 255, 255);
  border: none;
  font-style: normal;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border-radius: 5px;
  border-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: var(--dl-space-space-halfunit) var(--dl-space-space-fourunits);
  background-color: rgb(255, 87, 34);
}
.home-button1:hover {
  transform: translateY(-7px);
  background: #E64A19;
  border-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}
.home-mainright {
  gap: var(--dl-space-space-twounits);
  flex: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-image1 {
  width: 600px;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .home-container3 {
    gap: 70px;
  }
  .home-main {
    padding-top: var(--dl-space-space-threeunits);
  }
  .home-mainleft {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .home-text10 {
    font-size: 50px;
  }
  .home-text11 {
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
  }
  .home-estados-del-contrato {
    gap: var(--dl-space-space-threeunits);
    width: auto;
    height: auto;
    align-items: center;
  }
  .home-contrato-div {
    padding-left: 0;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-documento-div {
    width: auto;
    height: auto;
  }
  .home-documento-1 {
    font-size: 30px;
  }
  .home-contenedor-boton-buscar {
    width: auto;
    height: auto;
  }
  .home-botondocuemento {
    background-image: initial;
  }
  .home-contenedor-boton-buscar1 {
    width: auto;
    height: auto;
  }
  .home-botonlupa {
    background-image: initial;
  }
  .home-button {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-family: Inter, sans-serif;
    font-weight: 500;
    background-color: #009688;
  }
  .home-text13 {
    font-family: Inter, sans-serif;
  }
  .home-button1 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-family: Inter, sans-serif;
    font-weight: 500;
    background-color: rgb(255, 87, 34);
  }
}
@media(max-width: 1200px) {
  .home-container1 {
    align-self: center;
  }
  .home-container3 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-mainleft {
    margin-left: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-contrato-div {
    padding-left: 0;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-documento-1 {
    font-size: 25px;
    font-weight: 500;
  }
  .home-mainright {
    padding: 0 var(--dl-space-space-twounits) var(--dl-space-space-twounits);
  }
}
