<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Imaginary Whimsical Butterfly</title>
    <meta property="og:title" content="Imaginary Whimsical Butterfly" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
          font-family: Inter, sans-serif;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);


      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link
      href="{{ url_for('static', filename='css/styleAuditorV4.css') }}"
      rel="stylesheet"
      />
    <div>
      <link
      href="{{ url_for('static', filename='css/indexAuditorV4.css') }}"
      rel="stylesheet"
      />

      <div class="home-container">
        <div id="nav_bar" class="home-navbar">
          <div id="left-sde-nav" class="home-container01">
            <img
              alt="image"
              src="/static/images/ellipse 27-200w.png"
              class="home-image"
            />
          </div>
          <div id="righ-side-nav" class="home-container02">
            <div id="links_container" class="home-container03">
              <span id="home_link" class="home-text">
                <span>Home</span>
                <br />
              </span>
              <span id="features_link" class="home-text03">Features</span>
              <span id="case_studies_link" class="home-text04">
                Case Studies
              </span>
              <span id="pricing_link" class="home-text05">Pricing</span>
              <span id="faq_link" class="home-text06">FAQ</span>
              <span id="contact_link" class="home-text07">
                <span>Contact US</span>
                <br />
              </span>
            </div>
          </div>
        </div>
        <div class="home-container04">
            <form action="{{ url_for('auditor.formulario_nuevo_contrato') }}" method="POST" class="home-container04">
        <div class="home-container06">
            <div id="nombre_container" class="home-container07">
                <label id="nombre_label" for="nombre_input" class="home-text12">
                    Nombre
                </label>
                <input type="text" id="nombre_input" class="home-textinput input" />
            </div>
            <div id="tipo_contrato_container" class="home-container08">
                <label id="tipo_contrato_label" for="tipo_contrato_input" class="home-text13">
                    <span class="home-text14">Tipo de contrato</span>
                    <br />
                </label>
                <input type="text" id="tipo_contrato_input" class="home-textinput01 input" />
            </div>
            <div id="clase_arl_container" class="home-container09">
                <label id="clase_arl_label" for="clase_arl_input" class="home-text16">
                    Clase de ARL
                </label>
                <input type="text" id="clase_arl_input" class="home-textinput02 input" />
            </div>
            <div id="cedula_container" class="home-container10">
                <label id="cedula_label" class="home-text17">Cédula</label>
                <input type="number" id="cedula_input" class="home-textinput03 input" />
            </div>
            <div id="metodo_de_pago_container" class="home-container11">
                <label id="metodo_de_pago_label" for="metodo_de_pago_input" class="home-text18">
                    Metodo de pago
                </label>
                <input type="text" id="metodo_de_pago_input" class="home-textinput04 input" />
            </div>
            <div id="fecha_container" class="home-container12">
                <label id="fecha_label" for="fecha_input" class="home-text19">
                    <span>Fecha de inicio</span>
                    <br />
                </label>
                <input type="date" id="fecha_input" class="home-textinput05 input" />
            </div>
            <div id="sueldo_container" class="home-container13">
                <label id="sueldo_label" for="sueldo_input" class="home-text22">
                    <span>Sueldo</span>
                    <br />
                </label>
                <input type="number" id="sueldo_input" class="home-textinput06 input" />
            </div>
            <div id="bancaria_container" class="home-container14">
                <label id="bancaria_label" for="bancaria_input" class="home-text25">
                    <span>Cuenta bancaria</span>
                    <br />
                </label>
                <input type="number" id="bancaria_input" class="home-textinput07 input" />
            </div>
            <div id="fecha_fin_container" class="home-container15">
                <label id="fecha_fin_label" for="fecha_fin_input" class="home-text28">
                    <span>Fecha fin</span>
                    <br />
                </label>
                <input type="date" id="fecha_fin_input" class="home-textinput08 input" />
            </div>
            <div id="servicio_container" class="home-container16">
                <label id="servicio_label" for="servicio_input" class="home-text31">
                    <span>Sueldo</span>
                    <br />
                </label>
                <input type="text" id="servicio_input" class="home-textinput09 input" />
            </div>
            <div class="home-container17">
                <button type="submit" id="crear_button" class="home-button1 button">
                    Crear
                </button>

                <a href="{{ url_for('auditor.auditorV1') }}" id="volver_button" class="home-button button">
                    Volver
                </a>
        </div>
    </div>
</form>


        </div>

          </div>
        </div>
  </body>
</html>
