<style>
  .home-navbar {
    flex: 1;
    color: #FFFFFF;
    width: 100%;
    height: auto;
    display: flex;
    max-height: 110px;
    min-height: 100px;
    align-items: center;
    border-color: #D3D3D3;
    border-style: dashed;
    justify-content: center;
    background-color: #004466;
  }

  .home-container1 {
    width: auto;
    display: inline-block;
    max-height: auto;
    align-items: center;
    justify-content: flex-end;
    margin-right: var(--dl-space-space-unit);
  }

  .home-image {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-medium);
    object-fit: cover;
  }

  .home-container2 {
    flex: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .home-container3 {
    gap: var(--dl-space-space-fiveunits);
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding-right: 0px;
    justify-content: flex-start;
  }

  .home-link {
  padding: 14px 16px;
  font-size: 20px;
  transition: 0.3s;
  font-family: "Inter", "sans-serif";
  text-decoration: none;
  }
  .home-link:hover {
    background: #003355;
    border-radius: 15px;
  }
  .home-link:active {
    background-attachment: #009688;
  }
</style>
<div id="nav_bar" class="home-navbar">
  <img alt="image" class="home-image"
    src="/static/images/_2c48de95-259e-4abb-99aa-8504265f4f92-200h.png"/>
  <div id="right-side-nav" class="home-container2">
    <div id="links_container" class="home-container3">
      <a href="/" class="home-link">
        <span id="home_link">Inicio</span>
      </a>
      <span id="features_link" class="home-link">Características</span>
      <span id="case_studies_link" class="home-link">Casos de estudio</span>
      <span id="pricing_link" class="home-link">Precios</span>
      <span id="faq_link" class="home-link">Preguntas</span>
      <span id="contact_link" class="home-link">Contáctanos</span>
    </div>
  </div>
</div>